In [6]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
#1.- Data Import
citymapper = pd.read_csv('Citymapper.csv')

In [8]:
#1. Taking the first look at the data.

In [9]:
#First, use the head method.
citymapper.head()

,Date,Amsterdam,Barcelona,Berlin,Birmingham,Boston,Brussels,Chicago,Copenhagen,Hamburg,...,Singapore,St. Petersburg,Stockholm,Sydney,São Paulo,Tokyo,Toronto,Vancouver,Vienna,Washington DC
0,2020-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Check the shape of the data
citymapper.shape

(134, 42)

In [11]:
#Check the number of null values
citymapper.isnull().sum()

Date               0
Amsterdam         42
Barcelona         42
Berlin            42
Birmingham        42
Boston            42
Brussels          42
Chicago           42
Copenhagen        42
Hamburg           35
Hong Kong          0
Istanbul          42
Lisbon            42
London            42
Los Angeles       42
Lyon              35
Madrid            42
Manchester        42
Melbourne         42
Mexico City       42
Milan             28
Monaco            28
Montréal          42
Moscow            42
New York City     42
Paris             42
Philadelphia      42
Rhine-Ruhr        35
Rome              35
San Francisco     35
Seattle           35
Seoul             14
Singapore         14
St. Petersburg    42
Stockholm         42
Sydney            42
São Paulo         42
Tokyo              7
Toronto           42
Vancouver         42
Vienna            42
Washington DC     42
dtype: int64

In [12]:
# We are going to drop the lines where there is a null value
citymapper.dropna(inplace=True)

In [13]:
#Vérification du nettoyage.
citymapper.isnull().sum()

Date              0
Amsterdam         0
Barcelona         0
Berlin            0
Birmingham        0
Boston            0
Brussels          0
Chicago           0
Copenhagen        0
Hamburg           0
Hong Kong         0
Istanbul          0
Lisbon            0
London            0
Los Angeles       0
Lyon              0
Madrid            0
Manchester        0
Melbourne         0
Mexico City       0
Milan             0
Monaco            0
Montréal          0
Moscow            0
New York City     0
Paris             0
Philadelphia      0
Rhine-Ruhr        0
Rome              0
San Francisco     0
Seattle           0
Seoul             0
Singapore         0
St. Petersburg    0
Stockholm         0
Sydney            0
São Paulo         0
Tokyo             0
Toronto           0
Vancouver         0
Vienna            0
Washington DC     0
dtype: int64

In [14]:
#Création d'une nouvelle table transpose

In [15]:
cm_transpose = citymapper.transpose()

In [16]:
cm_transpose

,42,43,44,45,46,47,48,49,50,51,...,124,125,126,127,128,129,130,131,132,133
Date,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,...,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-05-30,2020-05-31,2020-06-01
Amsterdam,1.1,1.03,0.98,1.09,1.07,1.06,0.97,0.93,0.86,0.86,...,0.09,0.08,0.12,0.14,0.13,0.13,0.13,0.13,0.13,0.17
Barcelona,1.13,1.05,1.05,1.06,1.05,1.1,1.07,1.04,0.92,0.86,...,0.11,0.1,0.2,0.18,0.18,0.17,0.17,0.21,0.19,0.21
Berlin,1.03,0.94,0.93,0.92,0.92,0.92,0.97,0.94,0.83,0.86,...,0.25,0.21,0.26,0.3,0.32,0.29,0.29,0.31,0.32,0.36
Birmingham,1.0,1.05,0.99,1.04,1.08,1.11,1.0,1.0,0.98,0.91,...,0.16,0.18,0.17,0.19,0.18,0.17,0.17,0.2,0.26,0.19
Boston,0.97,0.99,0.97,0.97,1.02,0.93,0.89,0.92,0.81,0.77,...,0.08,0.1,0.08,0.09,0.09,0.08,0.08,0.11,0.15,0.11
Brussels,1.06,1.02,1.07,1.09,1.13,1.13,1.07,1.03,0.87,0.96,...,0.18,0.17,0.24,0.21,0.23,0.22,0.21,0.23,0.22,0.24
Chicago,1.06,0.99,0.97,1.0,1.01,1.09,1.07,1.05,0.95,0.92,...,0.09,0.11,0.1,0.08,0.09,0.08,0.09,0.12,0.12,0.09
Copenhagen,1.03,1.02,0.97,0.96,1.03,1.11,1.01,0.97,0.86,0.8,...,0.19,0.16,0.21,0.23,0.25,0.27,0.25,0.21,0.2,0.23
Hamburg,0.94,0.82,0.85,0.87,0.88,0.93,0.88,0.87,0.74,0.72,...,0.31,0.22,0.27,0.32,0.29,0.32,0.28,0.32,0.3,0.37
Hong Kong,0.52,0.52,0.5,0.52,0.54,0.55,0.53,0.54,0.55,0.52,...,0.53,0.52,0.53,0.56,0.51,0.57,0.58,0.46,0.56,0.61
Istanbul,1.24,1.24,1.17,1.17,1.27,1.44,1.41,1.26,1.15,1.03,...,0.05,0.05,0.06,0.08,0.16,0.18,0.18,0.08,0.13,0.26
Lisbon,1.2,1.23,1.28,1.25,1.23,1.27,1.18,1.2,1.14,1.08,...,0.23,0.25,0.22,0.21,0.23,0.23,0.23,0.27,0.26,0.26
London,1.0,1.02,1.0,1.01,0.99,0.97,0.94,0.97,0.97,0.91,...,0.15,0.18,0.2,0.17,0.17,0.17,0.18,0.19,0.21,0.2
Los Angeles,1.07,1.1,1.08,1.04,1.0,0.96,0.98,1.03,0.92,0.81,...,0.09,0.1,0.12,0.1,0.11,0.11,0.1,0.14,0.11,0.12
Lyon,0.82,0.76,0.75,0.77,0.8,0.89,0.94,0.99,0.99,0.97,...,0.22,0.28,0.3,0.3,0.31,0.3,0.32,0.34,0.31,0.32
Madrid,1.07,1.0,1.0,1.01,1.01,0.98,1.03,1.0,0.78,0.65,...,0.09,0.1,0.21,0.2,0.2,0.19,0.2,0.23,0.21,0.24
Manchester,1.06,0.98,1.0,1.0,1.05,1.02,1.08,1.01,0.93,0.91,...,0.13,0.13,0.16,0.15,0.15,0.16,0.16,0.17,0.19,0.18
Melbourne,1.13,1.06,1.14,1.06,1.04,1.04,0.93,0.93,1.06,1.1,...,0.23,0.22,0.23,0.21,0.23,0.21,0.24,0.27,0.26,0.25
Mexico City,1.14,1.11,1.09,1.08,1.09,1.15,1.32,0.74,0.95,1.1,...,0.08,0.09,0.13,0.1,0.11,0.1,0.1,0.09,0.09,0.13
Milan,0.45,0.44,0.43,0.39,0.37,0.34,0.23,0.19,0.13,0.1,...,0.15,0.16,0.18,0.17,0.17,0.16,0.17,0.19,0.18,0.21
Monaco,0.82,0.72,0.81,0.6,0.75,0.65,0.64,0.7,0.74,0.5,...,0.09,0.13,0.16,0.21,0.24,0.24,0.15,0.13,0.09,0.17
Montréal,0.96,1.0,1.03,1.04,1.02,1.07,1.14,0.96,0.99,1.04,...,0.23,0.24,0.21,0.22,0.21,0.21,0.21,0.25,0.22,0.24
Moscow,1.02,1.17,1.13,1.03,1.08,1.02,0.97,0.86,1.06,1.14,...,0.16,0.2,0.24,0.25,0.26,0.22,0.18,0.22,0.21,0.32
New York City,1.0,1.02,1.04,1.02,1.03,1.03,1.01,0.97,0.9,0.85,...,0.05,0.08,0.09,0.09,0.09,0.08,0.08,0.09,0.09,0.1
Paris,0.95,1.01,0.95,0.98,0.99,0.99,0.95,0.86,0.88,0.89,...,0.32,0.37,0.3,0.32,0.33,0.32,0.36,0.45,0.46,0.38
Philadelphia,0.94,0.96,0.89,0.96,0.95,1.01,1.03,1.0,0.85,0.85,...,0.1,0.1,0.12,0.13,0.12,0.09,0.1,0.13,0.11,0.14
Rhine-Ruhr,0.74,0.79,0.75,0.82,0.86,0.8,0.81,0.71,0.68,0.72,...,0.25,0.27,0.3,0.26,0.29,0.31,0.3,0.31,0.25,0.31
Rome,0.97,0.91,0.91,0.74,0.66,0.59,0.51,0.43,0.23,0.16,...,0.24,0.2,0.21,0.2,0.2,0.19,0.17,0.21,0.24,0.26
San Francisco,1.0,1.0,0.96,0.95,0.93,0.85,0.88,0.83,0.74,0.65,...,0.06,0.07,0.07,0.05,0.05,0.05,0.06,0.05,0.08,0.08
Seattle,0.83,0.83,0.8,0.72,0.71,0.68,0.74,0.57,0.57,0.51,...,0.14,0.16,0.1,0.09,0.11,0.1,0.13,0.14,0.13,0.14
Seoul,0.52,0.51,0.48,0.46,0.46,0.43,0.51,0.46,0.41,0.43,...,0.41,0.35,0.39,0.37,0.42,0.4,0.42,0.4,0.37,0.39
Singapore,0.88,0.91,0.9,0.87,0.9,0.89,0.88,0.87,0.95,0.88,...,0.16,0.16,0.16,0.15,0.15,0.14,0.15,0.18,0.18,0.18
St. Petersburg,1.16,1.25,1.15,1.14,1.13,1.15,0.99,0.9,1.06,1.15,...,0.35,0.36,0.41,0.4,0.41,0.38,0.38,0.35,0.37,0.49
Stockholm,0.98,0.93,0.97,0.98,1.05,1.06,0.99,0.92,0.87,0.83,...,0.29,0.32,0.43,0.45,0.39,0.43,0.41,0.48,0.41,0.5
Sydney,1.21,1.09,1.06,1.05,1.07,1.08,1.09,1.07,0.98,0.99,...,0.3,0.26,0.24,0.24,0.27,0.27,0.3,0.35,0.34,0.31
São Paulo,1.12,1.16,1.13,1.18,1.17,1.2,1.05,1.12,1.17,1.14,...,0.14,0.14,0.09,0.12,0.11,0.11,0.13,0.13,0.14,0.13
Tokyo,0.6,0.62,0.63,0.61,0.63,0.57,0.53,0.5,0.58,0.54,...,0.09,0.09,0.07,0.06,0.08,0.06,0.07,0.1,0.08,0.07
Toronto,0.95,1.02,0.97,1.05,1.0,1.09,1.06,0.94,0.95,0.91,...,0.28,0.26,0.22,0.21,0.21,0.2,0.21,0.26,0.28,0.24
Vancouver,0.93,0.95,0.94,1.02,0.93,0.99,0.98,0.93,0.91,0.89,...,0.23,0.24,0.25,0.23,0.25,0.25,0.24,0.25,0.24,0.28
Vienna,1.3,1.15,1.28,1.34,1.25,1.21,1.02,1.15,1.03,0.92,...,0.18,0.16,0.21,0.24,0.29,0.26,0.23,0.19,0.16,0.22
Washington DC,1.02,0.95,0.97,0.96,0.92,1.01,0.98,0.94,0.83,0.82,...,0.06,0.06,0.06,0.05,0.05,0.05,0.06,0.08,0.08,0.07

In [17]:
cm_transpose.index

Index(['Date', 'Amsterdam', 'Barcelona', 'Berlin', 'Birmingham', 'Boston',
       'Brussels', 'Chicago', 'Copenhagen', 'Hamburg', 'Hong Kong', 'Istanbul',
       'Lisbon', 'London', 'Los Angeles', 'Lyon', 'Madrid', 'Manchester',
       'Melbourne', 'Mexico City', 'Milan', 'Monaco', 'Montréal', 'Moscow',
       'New York City', 'Paris', 'Philadelphia', 'Rhine-Ruhr', 'Rome',
       'San Francisco', 'Seattle', 'Seoul', 'Singapore', 'St. Petersburg',
       'Stockholm', 'Sydney', 'São Paulo', 'Tokyo', 'Toronto', 'Vancouver',
       'Vienna', 'Washington DC'],
      dtype='object')

In [18]:
new_header = cm_transpose.iloc[0] #grab the first row for the header
cm_transpose = cm_transpose[1:] #take the data less the header row
cm_transpose.columns = new_header #set the header row as the df header

In [19]:
#Creation of the Column Country

In [20]:
#Creation of the values for Country and Continent
country  = ['Netherlands','Spain','Germany', 'England','USA','Belgium', 'USA', 'Denmark', 'Germany', 
            'China', 'Turkey','Portugal','England','USA', 'France', 'Spain' , 'England','Australia', 'Mexico', 
            'Italia', 'Monaco', 'Canada', 'Russia','USA', 'France', 'USA', 'Germany', 'Italy','USA', 
            'USA', 'South Korea', 'Singapore', 'Russia','Sweden', 'Australia', 'Brezil', 'Japan', 'Canada','Canada',
            'Austria', 'USA']

continent  = ['Europe','Europe','Europe', 'Europe','America','Europe', 'America', 'Europe', 'Europe', 
            'Asia', 'Europe','Europe','Europe','America', 'Europe', 'Europe' , 'Europe','Europe', 'America', 
            'Europe', 'Europe', 'America', 'Europe','America', 'Europe', 'America', 'Europe', 'Europe','America', 
            'America', 'Asia', 'Asia', 'Europe','Europe', 'Asia', 'America', 'Asia', 'America','America',
            'Europe', 'America']

In [21]:
cm_transpose2 = cm_transpose

In [22]:
#Column Title transformation into date format
cm_transpose2.columns = pd.to_datetime(cm_transpose2.columns)

In [23]:
#Creation of the Column Country
cm_transpose2.insert(0,"country",country, allow_duplicates=False)

In [24]:
#Creation of the Column Continent
cm_transpose2.insert(1,"continent",continent, allow_duplicates=False)

In [25]:
cm_transpose2

Date,country,continent,2020-03-02 00:00:00,2020-03-03 00:00:00,2020-03-04 00:00:00,2020-03-05 00:00:00,2020-03-06 00:00:00,2020-03-07 00:00:00,2020-03-08 00:00:00,2020-03-09 00:00:00,...,2020-05-23 00:00:00,2020-05-24 00:00:00,2020-05-25 00:00:00,2020-05-26 00:00:00,2020-05-27 00:00:00,2020-05-28 00:00:00,2020-05-29 00:00:00,2020-05-30 00:00:00,2020-05-31 00:00:00,2020-06-01 00:00:00
Amsterdam,Netherlands,Europe,1.1,1.03,0.98,1.09,1.07,1.06,0.97,0.93,...,0.09,0.08,0.12,0.14,0.13,0.13,0.13,0.13,0.13,0.17
Barcelona,Spain,Europe,1.13,1.05,1.05,1.06,1.05,1.1,1.07,1.04,...,0.11,0.1,0.2,0.18,0.18,0.17,0.17,0.21,0.19,0.21
Berlin,Germany,Europe,1.03,0.94,0.93,0.92,0.92,0.92,0.97,0.94,...,0.25,0.21,0.26,0.3,0.32,0.29,0.29,0.31,0.32,0.36
Birmingham,England,Europe,1.0,1.05,0.99,1.04,1.08,1.11,1.0,1.0,...,0.16,0.18,0.17,0.19,0.18,0.17,0.17,0.2,0.26,0.19
Boston,USA,America,0.97,0.99,0.97,0.97,1.02,0.93,0.89,0.92,...,0.08,0.1,0.08,0.09,0.09,0.08,0.08,0.11,0.15,0.11
Brussels,Belgium,Europe,1.06,1.02,1.07,1.09,1.13,1.13,1.07,1.03,...,0.18,0.17,0.24,0.21,0.23,0.22,0.21,0.23,0.22,0.24
Chicago,USA,America,1.06,0.99,0.97,1.0,1.01,1.09,1.07,1.05,...,0.09,0.11,0.1,0.08,0.09,0.08,0.09,0.12,0.12,0.09
Copenhagen,Denmark,Europe,1.03,1.02,0.97,0.96,1.03,1.11,1.01,0.97,...,0.19,0.16,0.21,0.23,0.25,0.27,0.25,0.21,0.2,0.23
Hamburg,Germany,Europe,0.94,0.82,0.85,0.87,0.88,0.93,0.88,0.87,...,0.31,0.22,0.27,0.32,0.29,0.32,0.28,0.32,0.3,0.37
Hong Kong,China,Asia,0.52,0.52,0.5,0.52,0.54,0.55,0.53,0.54,...,0.53,0.52,0.53,0.56,0.51,0.57,0.58,0.46,0.56,0.61
Istanbul,Turkey,Europe,1.24,1.24,1.17,1.17,1.27,1.44,1.41,1.26,...,0.05,0.05,0.06,0.08,0.16,0.18,0.18,0.08,0.13,0.26
Lisbon,Portugal,Europe,1.2,1.23,1.28,1.25,1.23,1.27,1.18,1.2,...,0.23,0.25,0.22,0.21,0.23,0.23,0.23,0.27,0.26,0.26
London,England,Europe,1.0,1.02,1.0,1.01,0.99,0.97,0.94,0.97,...,0.15,0.18,0.2,0.17,0.17,0.17,0.18,0.19,0.21,0.2
Los Angeles,USA,America,1.07,1.1,1.08,1.04,1.0,0.96,0.98,1.03,...,0.09,0.1,0.12,0.1,0.11,0.11,0.1,0.14,0.11,0.12
Lyon,France,Europe,0.82,0.76,0.75,0.77,0.8,0.89,0.94,0.99,...,0.22,0.28,0.3,0.3,0.31,0.3,0.32,0.34,0.31,0.32
Madrid,Spain,Europe,1.07,1.0,1.0,1.01,1.01,0.98,1.03,1.0,...,0.09,0.1,0.21,0.2,0.2,0.19,0.2,0.23,0.21,0.24
Manchester,England,Europe,1.06,0.98,1.0,1.0,1.05,1.02,1.08,1.01,...,0.13,0.13,0.16,0.15,0.15,0.16,0.16,0.17,0.19,0.18
Melbourne,Australia,Europe,1.13,1.06,1.14,1.06,1.04,1.04,0.93,0.93,...,0.23,0.22,0.23,0.21,0.23,0.21,0.24,0.27,0.26,0.25
Mexico City,Mexico,America,1.14,1.11,1.09,1.08,1.09,1.15,1.32,0.74,...,0.08,0.09,0.13,0.1,0.11,0.1,0.1,0.09,0.09,0.13
Milan,Italia,Europe,0.45,0.44,0.43,0.39,0.37,0.34,0.23,0.19,...,0.15,0.16,0.18,0.17,0.17,0.16,0.17,0.19,0.18,0.21
Monaco,Monaco,Europe,0.82,0.72,0.81,0.6,0.75,0.65,0.64,0.7,...,0.09,0.13,0.16,0.21,0.24,0.24,0.15,0.13,0.09,0.17
Montréal,Canada,America,0.96,1.0,1.03,1.04,1.02,1.07,1.14,0.96,...,0.23,0.24,0.21,0.22,0.21,0.21,0.21,0.25,0.22,0.24
Moscow,Russia,Europe,1.02,1.17,1.13,1.03,1.08,1.02,0.97,0.86,...,0.16,0.2,0.24,0.25,0.26,0.22,0.18,0.22,0.21,0.32
New York City,USA,America,1.0,1.02,1.04,1.02,1.03,1.03,1.01,0.97,...,0.05,0.08,0.09,0.09,0.09,0.08,0.08,0.09,0.09,0.1
Paris,France,Europe,0.95,1.01,0.95,0.98,0.99,0.99,0.95,0.86,...,0.32,0.37,0.3,0.32,0.33,0.32,0.36,0.45,0.46,0.38
Philadelphia,USA,America,0.94,0.96,0.89,0.96,0.95,1.01,1.03,1.0,...,0.1,0.1,0.12,0.13,0.12,0.09,0.1,0.13,0.11,0.14
Rhine-Ruhr,Germany,Europe,0.74,0.79,0.75,0.82,0.86,0.8,0.81,0.71,...,0.25,0.27,0.3,0.26,0.29,0.31,0.3,0.31,0.25,0.31
Rome,Italy,Europe,0.97,0.91,0.91,0.74,0.66,0.59,0.51,0.43,...,0.24,0.2,0.21,0.2,0.2,0.19,0.17,0.21,0.24,0.26
San Francisco,USA,America,1.0,1.0,0.96,0.95,0.93,0.85,0.88,0.83,...,0.06,0.07,0.07,0.05,0.05,0.05,0.06,0.05,0.08,0.08
Seattle,USA,America,0.83,0.83,0.8,0.72,0.71,0.68,0.74,0.57,...,0.14,0.16,0.1,0.09,0.11,0.1,0.13,0.14,0.13,0.14
Seoul,South Korea,Asia,0.52,0.51,0.48,0.46,0.46,0.43,0.51,0.46,...,0.41,0.35,0.39,0.37,0.42,0.4,0.42,0.4,0.37,0.39
Singapore,Singapore,Asia,0.88,0.91,0.9,0.87,0.9,0.89,0.88,0.87,...,0.16,0.16,0.16,0.15,0.15,0.14,0.15,0.18,0.18,0.18
St. Petersburg,Russia,Europe,1.16,1.25,1.15,1.14,1.13,1.15,0.99,0.9,...,0.35,0.36,0.41,0.4,0.41,0.38,0.38,0.35,0.37,0.49
Stockholm,Sweden,Europe,0.98,0.93,0.97,0.98,1.05,1.06,0.99,0.92,...,0.29,0.32,0.43,0.45,0.39,0.43,0.41,0.48,0.41,0.5
Sydney,Australia,Asia,1.21,1.09,1.06,1.05,1.07,1.08,1.09,1.07,...,0.3,0.26,0.24,0.24,0.27,0.27,0.3,0.35,0.34,0.31
São Paulo,Brezil,America,1.12,1.16,1.13,1.18,1.17,1.2,1.05,1.12,...,0.14,0.14,0.09,0.12,0.11,0.11,0.13,0.13,0.14,0.13
Tokyo,Japan,Asia,0.6,0.62,0.63,0.61,0.63,0.57,0.53,0.5,...,0.09,0.09,0.07,0.06,0.08,0.06,0.07,0.1,0.08,0.07
Toronto,Canada,America,0.95,1.02,0.97,1.05,1.0,1.09,1.06,0.94,...,0.28,0.26,0.22,0.21,0.21,0.2,0.21,0.26,0.28,0.24
Vancouver,Canada,America,0.93,0.95,0.94,1.02,0.93,0.99,0.98,0.93,...,0.23,0.24,0.25,0.23,0.25,0.25,0.24,0.25,0.24,0.28
Vienna,Austria,Europe,1.3,1.15,1.28,1.34,1.25,1.21,1.02,1.15,...,0.18,0.16,0.21,0.24,0.29,0.26,0.23,0.19,0.16,0.22
Washington DC,USA,America,1.02,0.95,0.97,0.96,0.92,1.01,0.98,0.94,...,0.06,0.06,0.06,0.05,0.05,0.05,0.06,0.08,0.08,0.07

In [26]:
#Modification of the datatype for the columns with date titles. 
for i in [i for i in list(range(len(cm_transpose2.columns))) if i not in [0,1]]:
    cm_transpose2.iloc[:,i]=pd.to_numeric(cm_transpose2.iloc[:,i])

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [27]:
cm_transpose2.shape

(41, 94)

In [28]:
cm_transpose2.groupby('continent').mean()

Date,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,...,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-05-30,2020-05-31,2020-06-01
continent,,,,,,,,,,,,,,,,,,,,,
America,0.999231,1.006154,0.987692,0.999231,0.983077,1.004615,1.010000,0.923077,0.887692,0.866154,...,0.125385,0.134615,0.126154,0.120000,0.123077,0.116154,0.122308,0.141538,0.141538,0.143846
Asia,0.746000,0.730000,0.714000,0.702000,0.720000,0.704000,0.708000,0.688000,0.694000,0.672000,...,0.298000,0.276000,0.278000,0.276000,0.286000,0.288000,0.304000,0.298000,0.306000,0.312000
Europe,1.008696,0.982174,0.980870,0.970435,0.986522,0.990435,0.938696,0.906957,0.859130,0.827391,...,0.192174,0.195652,0.230000,0.234348,0.243913,0.240000,0.233043,0.247391,0.241739,0.275652

In [29]:
cm_transpose2.groupby('continent').count()

Date,country,2020-03-02 00:00:00,2020-03-03 00:00:00,2020-03-04 00:00:00,2020-03-05 00:00:00,2020-03-06 00:00:00,2020-03-07 00:00:00,2020-03-08 00:00:00,2020-03-09 00:00:00,2020-03-10 00:00:00,...,2020-05-23 00:00:00,2020-05-24 00:00:00,2020-05-25 00:00:00,2020-05-26 00:00:00,2020-05-27 00:00:00,2020-05-28 00:00:00,2020-05-29 00:00:00,2020-05-30 00:00:00,2020-05-31 00:00:00,2020-06-01 00:00:00
continent,,,,,,,,,,,,,,,,,,,,,
America,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
Asia,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
Europe,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23

In [30]:
#Upload Dataset Lockdown
lockdown = pd.read_excel('Lockdown.xls')

   Country/Region       Date     Type
0     Netherlands 2020-03-24     Full
1           Spain 2020-03-14     Full
2         Germany 2020-03-20     Full
3         England 2020-03-23     Full
4             USA 2020-03-26     Full
5         Belgium 2020-03-17     Full
6             USA 2020-04-04     Full
7         Denmark 2020-03-11     Full
8         Germany 2020-03-20     Full
9           China 2020-03-23     Full
10         Turkey 2020-03-23     Full
11       Portugal 2020-03-18     Full
12        England 2020-03-23     Full
13            USA 2020-04-04     Full
14         France 2020-03-16     Full
15          Spain 2020-03-14     Full
16        England 2020-03-23     Full
17      Australia 2020-03-24     Full
18         Mexico 2020-03-14  Partial
19          Italy 2020-03-11     Full
20         Monaco 2020-03-17     Full
21         Canada 2020-03-22     Full
22         Russia 2020-03-27     Full
23            USA 2020-03-28     Full
24         France 2020-03-16     Full
25            USA 2020-03-31     Full
26        Germany 2020-03-20     Full
27          Italy 2020-03-11     Full
28            USA 2020-03-31     Full
29            USA 2020-03-31     Full
30    South Korea 2020-02-23     Full
31      Singapore 2020-03-26  Partial
32         Russia 2020-03-27     Full
33         Sweden        NaT     None
34      Australia 2020-03-24     Full
35         Brezil        NaT     None
36          Japan 2020-02-27     Full
37         Canada 2020-03-14     Full
38         Canada 2020-03-14     Full
39        Austria 2020-03-16     Full
40             US 2020-03-24     Full

In [31]:
#Adding the Lockdown columns 'Date', 'Type' to the CityMapper dateset

In [32]:
#Creating a copy of the dataset in case that we get mistaken
cm_transpose3=cm_transpose2

In [33]:
#Création of the Column Lockdown Type
cm_transpose3['LType'] = lockdown['Type'].values

<ipython-input-33-0737673bb379>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cm_transpose3['LType'] = lockdown['Type'].values

In [34]:
#Création of the Column StartLockdown
cm_transpose3['StartLockdown'] = lockdown['Date'].values

<ipython-input-34-57f587a9169f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cm_transpose3['StartLockdown'] = lockdown['Date'].values

In [35]:
#Change the column 'StartLockdown' to date format
cm_transpose3['StartLockdown'] = pd.to_datetime(cm_transpose3['StartLockdown'])

<ipython-input-35-67e6c4e4d59b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cm_transpose3['StartLockdown'] = pd.to_datetime(cm_transpose3['StartLockdown'])

In [36]:
cm_transpose3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, Amsterdam to Washington DC
Data columns (total 96 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              41 non-null     object
 1   continent            41 non-null     object
 2   2020-03-02 00:00:00  41 non-null     float64
 3   2020-03-03 00:00:00  41 non-null     float64
 4   2020-03-04 00:00:00  41 non-null     float64
 5   2020-03-05 00:00:00  41 non-null     float64
 6   2020-03-06 00:00:00  41 non-null     float64
 7   2020-03-07 00:00:00  41 non-null     float64
 8   2020-03-08 00:00:00  41 non-null     float64
 9   2020-03-09 00:00:00  41 non-null     float64
 10  2020-03-10 00:00:00  41 non-null     float64
 11  2020-03-11 00:00:00  41 non-null     float64
 12  2020-03-12 00:00:00  41 non-null     float64
 13  2020-03-13 00:00:00  41 non-null     float64
 14  2020-03-14 00:00:00  41 non-null     float64
 15  2020-03-15 00:00:00  41 non-null     float64
 16  2020-03-16 00:00:00  41 non-null     float64
 17  2020-03-17 00:00:00  41 non-null     float64
 18  2020-03-18 00:00:00  41 non-null     float64
 19  2020-03-19 00:00:00  41 non-null     float64
 20  2020-03-20 00:00:00  41 non-null     float64
 21  2020-03-21 00:00:00  41 non-null     float64
 22  2020-03-22 00:00:00  41 non-null     float64
 23  2020-03-23 00:00:00  41 non-null     float64
 24  2020-03-24 00:00:00  41 non-null     float64
 25  2020-03-25 00:00:00  41 non-null     float64
 26  2020-03-26 00:00:00  41 non-null     float64
 27  2020-03-27 00:00:00  41 non-null     float64
 28  2020-03-28 00:00:00  41 non-null     float64
 29  2020-03-29 00:00:00  41 non-null     float64
 30  2020-03-30 00:00:00  41 non-null     float64
 31  2020-03-31 00:00:00  41 non-null     float64
 32  2020-04-01 00:00:00  41 non-null     float64
 33  2020-04-02 00:00:00  41 non-null     float64
 34  2020-04-03 00:00:00  41 non-null     float64
 35  2020-04-04 00:00:00  41 non-null     float64
 36  2020-04-05 00:00:00  41 non-null     float64
 37  2020-04-06 00:00:00  41 non-null     float64
 38  2020-04-07 00:00:00  41 non-null     float64
 39  2020-04-08 00:00:00  41 non-null     float64
 40  2020-04-09 00:00:00  41 non-null     float64
 41  2020-04-10 00:00:00  41 non-null     float64
 42  2020-04-11 00:00:00  41 non-null     float64
 43  2020-04-12 00:00:00  41 non-null     float64
 44  2020-04-13 00:00:00  41 non-null     float64
 45  2020-04-14 00:00:00  41 non-null     float64
 46  2020-04-15 00:00:00  41 non-null     float64
 47  2020-04-16 00:00:00  41 non-null     float64
 48  2020-04-17 00:00:00  41 non-null     float64
 49  2020-04-18 00:00:00  41 non-null     float64
 50  2020-04-19 00:00:00  41 non-null     float64
 51  2020-04-20 00:00:00  41 non-null     float64
 52  2020-04-21 00:00:00  41 non-null     float64
 53  2020-04-22 00:00:00  41 non-null     float64
 54  2020-04-23 00:00:00  41 non-null     float64
 55  2020-04-24 00:00:00  41 non-null     float64
 56  2020-04-25 00:00:00  41 non-null     float64
 57  2020-04-26 00:00:00  41 non-null     float64
 58  2020-04-27 00:00:00  41 non-null     float64
 59  2020-04-28 00:00:00  41 non-null     float64
 60  2020-04-29 00:00:00  41 non-null     float64
 61  2020-04-30 00:00:00  41 non-null     float64
 62  2020-05-01 00:00:00  41 non-null     float64
 63  2020-05-02 00:00:00  41 non-null     float64
 64  2020-05-03 00:00:00  41 non-null     float64
 65  2020-05-04 00:00:00  41 non-null     float64
 66  2020-05-05 00:00:00  41 non-null     float64
 67  2020-05-06 00:00:00  41 non-null     float64
 68  2020-05-07 00:00:00  41 non-null     float64
 69  2020-05-08 00:00:00  41 non-null     float64
 70  2020-05-09 00:00:00  41 non-null     float64
 71  2020-05-10 00:00:00  41 non-null     float64
 72  2020-05-11 00:00:00  41 non-null     float64
 73  2020-05-12 00:00:00  41 non-null     float64
 74  2020-05-13 00:00:00  41 non-null     float64
 75  2020-05-14 00:00:00  41 non-null     float64
 76  2020-05-15 00:00:00  41 non-null     float64
 77  2020-05-16 00:00:00  41 non-null     float64
 78  2020-05-17 00:00:00  41 non-null     float64
 79  2020-05-18 00:00:00  41 non-null     float64
 80  2020-05-19 00:00:00  41 non-null     float64
 81  2020-05-20 00:00:00  41 non-null     float64
 82  2020-05-21 00:00:00  41 non-null     float64
 83  2020-05-22 00:00:00  41 non-null     float64
 84  2020-05-23 00:00:00  41 non-null     float64
 85  2020-05-24 00:00:00  41 non-null     float64
 86  2020-05-25 00:00:00  41 non-null     float64
 87  2020-05-26 00:00:00  41 non-null     float64
 88  2020-05-27 00:00:00  41 non-null     float64
 89  2020-05-28 00:00:00  41 non-null     float64
 90  2020-05-29 00:00:00  41 non-null     float64
 91  2020-05-30 00:00:00  41 non-null     float64
 92  2020-05-31 00:00:00  41 non-null     float64
 93  2020-06-01 00:00:00  41 non-null     float64
 94  LType                41 non-null     object
 95  StartLockdown        39 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(92), object(3)
memory usage: 31.1+ KB

In [37]:
cm_transpose3.to_csv('citymapperproject.csv')